{% extends "base.html.twig" %}

{% block body %}

	{{ form_start(form) }}
	<section class="get-in-touch">
		<h1 class="title">Create new Project</h1>


		<form class="contact-form row" method="POST">
			<div class="form-field col-lg-6">
				<input class="input-text js-input" type="text" name="nom">
				<label class="label" for="Nom">{{ project.title }}</label>
			</div>

			<div class="form-field col-lg-12">
				<input class="submit-btn" type="submit" value="Envoyer">

			</div>
		</form>
	</section>
	{{ form_end(form) }}

{% endblock %}
