{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}

	<h2 class="m-4 text-uppercase">Bonjour
		{{app.user.email ~ " "~  app.user.firstname}}</h2>

{% endblock %}
