body {
    background-image: url("../../assets/images/fond_hackathon.png");
    background-position: right;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 6; }
    .div2 { grid-area: 1 / 1 / 6 / 2; }
    .div3 { grid-area: 2 / 2 / 6 / 6; }

.sidemenu {
    padding-top: 70px;
}

.table {
    @include frame;
}
