@mixin frame {
    border-radius: 25px;
    border: 5px solid whitesmoke;
    border-top: 3px solid whitesmoke;
    margin-top: 10px;
    margin-right: 55px;
    justify-content: center;
    align-items: center;
}