{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
	{% if app.user %}

		<div class="mb-3">

			<a class="btn btn-light" href="{{ path('app_logout') }}">Déconnexion</a>
		</div>
	{% endif %}

	<h2 class="m-4 text-uppercase">Bonjour
		{{app.user.Email}}</h2>

{% endblock %}
