{% extends 'base.html.twig' %}

{% block title %}Bienvenue
{% endblock %}

{% block body %}
	<h1>Comm'Side <br>
	Project Management</h1> <br><br>

	<h2 class="m-4 text-uppercase">Welcome,
		{{app.user.firstname}} !</h2>

	<div class="dropdown-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCenterBtn" data-bs-toggle="dropdown" aria-expanded="false">
    Please choose your Workspace
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownCenterBtn">
    <li><a class="dropdown-item" href="#">Workspace 1</a></li>
    <li><a class="dropdown-item" href="#">Workspace 2</a></li>
    <li><a class="dropdown-item" href="#">Workspace 3</a></li>
	<li><a class="dropdown-item" href="#">Workspace 4</a></li>
  </ul>
</div>

{% endblock %}
